<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- Adăugăm FontAwesome -->
</head>
<body style="background-color: #FFFAFA;">
    <section id="home" class="section" style="color: black; padding-left: 30px;">
        <p>This Privacy Policy describes how our website collects, uses, and shares your personal information when you use our services.</p>

        <h2>Information We Collect</h2>
        <p>We collect various types of information, including:</p>
        <ul>
            <li>Your name, email address, and contact information when you register for an account</li>
            <li>Payment information when you make a purchase</li>
            <li>Information about your browsing activity and device when you visit our website</li>
        </ul>

        <h2>How We Use Your Information</h2>
        <p>We use your information for the following purposes:</p>
        <ul>
            <li>To process your orders and provide customer support</li>
            <li>To improve our website and services</li>
            <li>To send you promotional emails and updates (if you have opted in)</li>
        </ul>

        <h2>Information Sharing</h2>
        <p>We may share your information with third-party service providers who assist us in operating our website and providing our services.</p>

        <h2>Security</h2>
        <p>We take appropriate measures to protect your personal information from unauthorized access and use.</p>

        <h2>Changes to This Policy</h2>
        <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new policy on this page.</p>

        <p>If you have any questions or concerns about our Privacy Policy, please contact us at privacy@example.com.</p>
    </section>
</body>
</html>
