.map-container {
    overflow: hidden;
    padding-bottom: calc(100vh - 260px); /* Ajustăm înălțimea hărții pentru a se încadra între header și footer */
    position: relative;
    height: 0;
    margin-top: 20px; /* Spațiu suplimentar între harta și header */
    margin-bottom: 20px; /* Spațiu suplimentar între harta și footer */
}
.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
